.Rproj.user
.Rhistory
.RData
.Ruserdata
intro_ir_students.csv
intro_ir_students2.xlsx
grouped_students.csv
intro_ir_students2.csv
grouped_students_short.xlsx
grouped_students.xlsx
/groups-results/
/syllabus-date-results/